* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f172a;
  color: white;
}
nav {
  width: 100%;
  padding: 1rem 5%;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #3b82f6;
  margin-right: auto;
}
.navlink {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.navlink li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  transition: 0.2s;
}
.navlink li a:hover {
  color: #3b82f6;
}
.btns {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: #1d4ed8;
}
.hero {
  width: 100%;
  height: 70vh;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.faculties{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.faculty {
  width: 80%;
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  border-left: 3px solid #3b82f6;
  border-radius: 10px;
  line-height: 1.6;
}

.faculty img{
  width: 100px;
  height: 100px;

}
